canvas {
  background-image: url('../assets/img/pageBackground.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

@media only screen and (max-width: 720px) {
  h1 {
    display: none;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}

@media only screen and (max-height: 480px) {
  h1 {
    display: none;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}