#canvasContainer {
  position: relative;
  display: inline-block;
}

canvas {
  background-image: url('../assets/img/pageBackground.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

#startScreen, #gameOverScreen, #youWinScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 1;
}

#startScreen {
  justify-content: flex-start;
  padding: 0;
  background-color: transparent;
  align-items: center;
}

#startScreen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#startScreen button {
  position: relative;
  margin-top: 60px;
  z-index: 1;
}

#gameOverScreen img, #youWinScreen img {
  max-width: 300px;
  width: 50%;
  height: auto;
}

#youWinScreen img {
  max-width: 250px;
  width: 40%;
}

@media (orientation: landscape) and (hover: none) {
  h1 {
    display: none;
  }
  
  #canvasContainer {
    height: 100svh;
  }
  
  canvas {
    width: 100%;
    height: 100svh;
    object-fit: contain;
  }
}